@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");



h1,
p {
  margin: 0;
  padding: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.buttons-container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  font-weight: 600;
  background-color:  #c9c7c7;
  border: 1px solid #000000;
  color: #21394d;
  font-size: 22px;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.cont > hr {
  position: absolute;
  width: 90%;
  border: 2px solid #0a3163;
  border-radius: 20%;
  margin-left: 3%;
  
}

.items-container2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.center-text  {
    text-align: center;
    font-weight: bold;
    color: rgb(253, 253, 253);
    font-size: 60px;
   
  }  

  .blur3{
    background: rgb(72, 151, 145);
    position: absolute;
    border-radius: 50%;
    filter: blur(500px);
    z-index: -9;
  }

  .main-blur3{
    width: 70rem;
    height: 50rem;
    left: 25rem;
}

.blur4{
  background: rgb(125, 97, 148);
  position: absolute;
  border-radius: 50%;
  filter: blur(500px);
  z-index: -9;
}

.main-blur4{
  width: 70rem;
  height: 50rem;
  left: 25rem;
}

  
  

.item2 {
   background-color: rgb(187, 184, 184);
  gap: 5px;
  font-size: 25px;
  padding: 4px 10px;
  max-width: 350px;
  min-height: 195px;
  margin: 4px 10px;
  border: 1px solid #436c85;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itm-names{
    color: #070f5f;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}


.description {
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }

.duration {
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
  }

.cost {
    color: #0d0574;
    font-size: 15px;
    font-weight: bold;
    
}

.cat {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    
}

.active {
  background-color: #2A3439;
  color: #fff;
}
