.line-break2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.line-break2>img{
    filter: blur(2px);
}

.small-image {
    width: 200px;
    height: auto;
}

.programs-header2 {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: #f0b81f;
    text-transform: uppercase;
    font-style: italic;
}


.plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
    gap: 4rem;
    position: relative;
}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10rem;
}


.plan{
    display: flex;
    flex-direction: column;
    background-color: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 19rem;
}


.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
    font-size: 1rem;
    font-weight: bold;
}

.plan>span{
    font-size: 1rem;
    font-weight: bold;
}

.plan:nth-child(5){
    border-radius: 10;
}


.plan>svg{
    width: 2rem;
    height: 2rem;
    color: var(--caloryCard);
}

.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>img{
    width: 1rem;
}

.plans>:nth-child(2)>svg{
    fill: white;
}

.plans>:nth-child(2)>button{
    color: #f0b81f;
}

.plans-blur-1{
    width: 32rem;
    height: 32rem;
    top: 6rem;
    left: 0rem;
}

.plans-blur-2{
    width: 32rem;
    height: 32rem;
    top: 10rem;
    right: 0rem;
}

